<!DOCTYPE html>
<html>
<head>
  <title>Empregame - Vagas de emprego - Sul de Minas Gerais</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="http://empregame.herokuapp.com/images/brand_face.png" property="og:image">
  <meta content="pt_BR" property="og:locale">
  <meta content="Emprega-me" property="og:site_name">
</head>
<body>
  <%= render "/layouts/partial/header" %>

  <%= yield %>

</body>
</html>
